@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/font/Comfortaa-VariableFont_wght.ttf");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/font/Comfortaa-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/font/Comfortaa-VariableFont_wght.ttf");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/font/Comfortaa-VariableFont_wght.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Comfortaa";
  src: url("../../assets/font/Comfortaa-VariableFont_wght.ttf");
  font-weight: 700;
  font-style: bold;
}

$oxford-blue: #102542;
$glaucous: #6b7fd7;
$non-photo-blue: #bcedf6;
$nyanza: #ddfbd2;
$flame: #eb5e28;
