@use "../../styles/partials/global" as *;

.form {
  background-color: $nyanza;
  font-family: "Comfortaa";
  padding: 1rem;
  &__main-title {
    color: $oxford-blue;
  }
  &__input-fields {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }
  &__title {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: $glaucous;
    border-style: solid;
    font-size: 1rem;
    font-family: "Comfortaa";
    &:focus {
      border-color: #0000ff;
      outline: none;
    }
    &::placeholder {
      font-family: "Comfortaa";
    }
  }
  &__year {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: $glaucous;
    border-style: solid;
    font-size: 1rem;
    font-family: "Comfortaa";
    &:focus {
      border-color: #0000ff;
      outline: none;
    }
    &::placeholder {
      font-family: "Comfortaa";
    }
  }
  &__duration {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: $glaucous;
    border-style: solid;
    font-size: 1rem;
    font-family: "Comfortaa";
    &:focus {
      border-color: #0000ff;
      outline: none;
    }
    &::placeholder {
      font-family: "Comfortaa";
    }
  }
  &__description {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: $glaucous;
    border-style: solid;
    border-width: 2px;
    font-size: 1rem;
    font-family: "Comfortaa";
    &:focus {
      border-color: $oxford-blue;
      outline: none;
    }
    &::placeholder {
      font-family: "Comfortaa";
    }
  }
  &__link {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border-color: $glaucous;
    border-style: solid;
    font-size: 1rem;
    font-family: "Comfortaa";
    &:focus {
      border-color: #0000ff;
      outline: none;
    }
    &::placeholder {
      font-family: "Comfortaa";
    }
  }
  &__button {
    width: 28rem;
    padding: 1rem;
    margin-left: 1rem;
    background-color: $glaucous;
    border-color: $glaucous;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-family: "Comfortaa";
    border-radius: 10px;
    &:hover {
      background-color: $oxford-blue;
    }
  }
}
