@use "../../styles/partials/global" as *;

.movie-item {
  font-family: "Comfortaa";
  background-color: $non-photo-blue;
  border-radius: 10px;
  width: 9rem;
  padding: 1rem;
  margin: 1rem;
  &__year-duration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
